* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: radial-gradient(rgb(146, 130, 130), rgb(5, 0, 0));
}

#main {
  display: flex;
  background: rgb(212, 194, 255);
  border-radius: 12px;
  font-weight: 500;
  width: 50%;
  min-width: 650px;
  margin: auto;
  justify-content: flex-start;
  padding: 20px;
}

.balance {
  border-bottom: 1px solid black;
  border-radius: 3px;
  padding: 0 58px;
}

.cashregister {
  padding: 10px;
  flex-basis: 60%;
}

.header {
  margin: auto;
  width: 200px;
  font-size: 25px;
  color: #fff;
}

label {
  width: 80px;
  padding:0 20px;
  display: inline-block;
}

input {
  padding: 3px 10px;
  display: inline-block;
  width: 100px;
  margin: 2px;
}

.b-n {
  flex-basis: 80%;
}

.b-n input {
  border: none;
  border-bottom: 1px solid black;
  margin: 0;
  border-radius: 3px;
  background: transparent;
}

.return {
  background: rgb(0, 0, 0);
  width: 400px;
  margin: auto;
  margin-top: -45px;
  border-radius: 25px;
  color: #fff;
}

.return p {
  padding: 20px;
}

button {
padding: 5px;
border-radius: 5px;
border: 1px solid black;
background: blue;
color: #fff;
}